/* start box  */
.d-flex {
  display: flex;
}
.nowrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}
@media (max-width: 767px) {
  .column-mobile-reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .align-center-mobile {
    align-items: center;
  }
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}
.d-grid {
  display: grid;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.flex-1 {
  flex: 1;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* end box  */

/* start padding + margin  */
.p-0 {
  padding: 0;
}
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.p-5 {
  padding: 5px;
}
.p-15 {
  padding: 15px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10x;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-45 {
  padding-top: 45px;
}
.pt-50 {
  padding-top: 50px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pr-0 {
  padding-right: 0;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-25 {
  padding-right: 25px;
}
.m-20 {
  margin: 20px;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-50 {
  margin-top: 50px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-45 {
  margin-left: 45px;
}
.ml-50 {
  margin-left: 50px;
}
.m-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .m-auto-mobile {
    margin-left: auto;
    margin-right: auto;
  }
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-45 {
  margin-right: 45px;
}
.mr-50 {
  margin-right: 50px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-45 {
  margin-bottom: 45px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* end padding + margin  */
/* start color  */
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-gray {
  background: #888;
}
.bg-orange {
  background: orange;
}
.bg-blue {
  background: rgb(0, 117, 255);
}
.bg-green {
  background: rgb(34, 197, 94);
}
.bg-red {
  background: rgb(244, 67, 54);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-gray {
  color: #888;
}
.c-orange {
  color: orange;
}
.c-blue {
  color: rgb(0, 117, 255);
}
.c-green {
  color: rgb(34, 197, 94);
}
.c-red {
  color: rgb(244, 67, 54);
}
.c-gold {
  color: rgb(245, 158, 11);
}
/* end color  */
/* start position  */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* start position  */
/* start font  */
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
@media (max-width: 767px) {
  .text-c-mobile {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .d-none-mobile {
    display: none;
  }
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}
.fs-45 {
  font-size: 45px;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: normal;
}
/* end font  */
/* start border  */
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.rad-50 {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.b-none {
  border: 0;
}
.line-none {
  outline: none;
}
.resize-none {
  resize: none;
}
.line-5 {
  line-height: 1.5;
}
.line-7 {
  line-height: 1.7;
}
.line-2 {
  line-height: 1.7;
}
/* end border  */
/* start widht and height   */
.w-50 {
  width: 50px;
}
.w-100 {
  width: 100px;
}
.w-150 {
  width: 150px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.w-350 {
  width: 350px;
}
.w-400 {
  width: 400px;
}
.w-450 {
  width: 450px;
}
.w-500 {
  width: 500px;
}
.h-1 {
  height: 1px;
}
.h-2 {
  height: 2px;
}
.h-3 {
  height: 3px;
}
.h-4 {
  height: 4px;
}
.h-5 {
  height: 5px;
}
.h-50 {
  height: 50px;
}
.h-100 {
  height: 100px;
}
.h-150 {
  height: 150px;
}
.h-200 {
  height: 200px;
}
.h-250 {
  height: 250px;
}
.h-300 {
  height: 300px;
}
.h-350 {
  height: 350px;
}
.h-400 {
  height: 400px;
}
.h-450 {
  height: 450px;
}
.h-500 {
  height: 500px;
}

.w-full {
  width: 100%;
}
@media (max-width: 767px) {
  .w-full-mobile {
    width: 100%;
  }
}
.h-full {
  height: 100%;
}
/* start widht and height   */
/* start over flow  */
.flow-hidden {
  overflow: hidden;
}
/* end over flow  */
/* start components  */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.around-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-1x {
  padding: 4px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 0;
  outline: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  display: block;
  width: fit-content;
}
.pointer-on {
  cursor: pointer;
}
.pointer-off {
  cursor: initial;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-ccc-t {
  border-top: 1px solid #ccc;
}
.border-ccc-b {
  border-bottom: 1px solid #ccc;
}
.border-ccc-l {
  border-left: 1px solid #ccc;
}
.border-ccc-r {
  border-right: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}
.border-eee-t {
  border-top: 1px solid #eee;
}
.border-eee-b {
  border-bottom: 1px solid #eee;
}
.border-eee-l {
  border-left: 1px solid #eee;
}
.border-eee-r {
  border-right: 1px solid #eee;
}
/* end components  */
